<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            {{ 'pages.home.title' | transloco }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="presentYoutubeDownloaderInfoModal()">
                <ion-icon slot="icon-only" name="help-circle"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="onClickBuyMeCoffeeHandler()">
                <img src="https://www.buymeacoffee.com/assets/img/custom_images/yellow_img.png" alt="Buy Me A Coffee" style="width:100px">
            </ion-button>
            <ion-button fill="clear" (click)="presentMoreOptionsPopover($event)">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid fixed style="height: 90vh;">
        <ion-row class="ion-align-items-center" style="height: 90vh;">
            <ion-col size-lg="8" offset-lg="2" size-md="10" offset-md="1">
                <ion-card>
                    @if (thumbnailUrl) {
                        <ion-item lines="none">
                            <img [src]="thumbnailUrl">
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label class="ion-text-center ion-text-wrap"> {{ videoTitle }} </ion-label>
                        </ion-item>
                    } @else {
                        <ion-item lines="none">
                            <img src="assets/logo.png" width="90" height="90" alt="Youtube downloader logo" />
                        </ion-item>
                    }
                    <ion-card-content>
                        <ion-toolbar>
                        <ion-row class="ion-align-items-center">
                            <ion-col size-lg="9" size-md="8" size-sm="12" size-xs="12">
                                <!-- Searchbar with cancel button always shown -->
                                <ion-searchbar [(ngModel)]="videoInfo.url" showCancelButton="focus" (ionClear)="onClearSearchHandler()"
                                placeholder="https://www.youtube.com/watch?v=LKwmdv39Rks"></ion-searchbar>
                                @if (videoInfo.url !== '' && !isValidYouTubeVideoUrl(videoInfo.url)) {
                                    <ion-item lines="none" class="error-message">
                                        <ion-label>{{ 'pages.home.validations.errorWrongYoutubeUrl' | transloco }}</ion-label>
                                    </ion-item>
                                }
                            </ion-col>
                            <ion-col size-lg="3" size-md="4" size-sm="12" size-xs="12">
                                <ion-button class="ion-text-wrap" expand="block" [color]="isDownloadStarted ? 'tertiary' : 'secondary'" size="small"
                                (click)="startDownloadingAnimation(); isYoutubePlaylistUrl(videoInfo.url) ? downloadYoutubePlaylist(videoInfo) : downloadYoutubeVideo(videoInfo)" [disabled]="videoInfo.url === '' || !isValidYouTubeVideoUrl(videoInfo.url) || isDownloadStarted">
                                    <ion-icon #downloadingIcon slot="start" [name]="isDownloadStarted ? 'reload' : 'cloud-download'"></ion-icon>
                                    {{ isYoutubePlaylistUrl(videoInfo.url) ? ('pages.home.buttonDownloadPlaylist' | transloco) : ('pages.home.buttonDownload' | transloco) }}
                                </ion-button>
                                @if (videoInfo.url !== '' && !isValidYouTubeVideoUrl(videoInfo.url)) {
                                    <ion-item lines="none"></ion-item>
                                }
                            </ion-col>
                        </ion-row>
                    </ion-toolbar>
                        <ion-item lines="none">
                            <ion-segment color="tertiary" [value]="format.mp3" (ionChange)="videoFormatChanged($event)">
                                <ion-segment-button layout="icon-start" [value]="format.mp3">
                                    <ion-label>{{ 'pages.home.labelMp3' | transloco }}</ion-label>
                                    <ion-icon name="musical-notes"></ion-icon>
                                </ion-segment-button>
                                <ion-segment-button layout="icon-start" [value]="format.mp4">
                                    <ion-label>{{ 'pages.home.labelMp4' | transloco }}</ion-label>
                                    <ion-icon name="videocam"></ion-icon>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
            <ntkme-github-button user="abritopach" repo="nest-ionic-youtube-downloader" target="_blank"></ntkme-github-button>
            <ntkme-github-button user="abritopach" type="follow" target="_blank" style="margin-left: 5px;"></ntkme-github-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
