<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'pages.home.title' | transloco }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid fixed style="height: 90vh;">
        <ion-row class="ion-align-items-center" style="height: 90vh;">
            <ion-col size-lg="8" offset-lg="2" size-md="10" offset-md="1">
                <ion-card>
                    <ion-item lines="none">
                        <img src="assets/logo.png" alt="Youtube downloader logo" />
                    </ion-item>
                    <ion-card-content>
                        <ion-toolbar>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="9">
                                <!-- Searchbar with cancel button always shown -->
                                <ion-searchbar [(ngModel)]="videoInfo.url" showCancelButton="focus"
                                placeholder="https://www.youtube.com/watch?v=LKwmdv39Rks"></ion-searchbar>
                                <ion-item *ngIf="videoInfo.url !== '' && !isValidYouTubeVideoUrl(videoInfo.url)" lines="none" class="error-message">
                                    <ion-label>{{ 'pages.home.validations.errorWrongYoutubeUrl' | transloco }}</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="3">
                                <ion-button size="small" (click)="downloadYoutubeVideo()" [disabled]="videoInfo.url === '' || !isValidYouTubeVideoUrl(videoInfo.url)">
                                    <ion-icon slot="start" name="cloud-download"></ion-icon>
                                    {{ 'pages.home.buttonDownload' | transloco }}
                                </ion-button>
                                <ion-item *ngIf="videoInfo.url !== '' && !isValidYouTubeVideoUrl(videoInfo.url)"></ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-toolbar>
                        <ion-item lines="none">
                            <ion-segment [value]="format.mp3" (ionChange)="videoFormatChanged($event)">
                                <ion-segment-button layout="icon-start" [value]="format.mp3">
                                    <ion-label>{{ 'pages.home.labelMp3' | transloco }}</ion-label>
                                    <ion-icon name="musical-notes"></ion-icon>
                                </ion-segment-button>
                                <ion-segment-button layout="icon-start" [value]="format.mp4">
                                    <ion-label>{{ 'pages.home.labelMp4' | transloco }}</ion-label>
                                    <ion-icon name="videocam"></ion-icon>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
        <ion-buttons slot="end">
            <ntkme-github-button user="abritopach" repo="nest-ionic-youtube-downloader" target="_blank"></ntkme-github-button>
            <ntkme-github-button user="abritopach" type="follow" target="_blank" style="margin-left: 5px;"></ntkme-github-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
